{% extends "layout.html" %}
{% block header %}
<div class="container-fluid" style="background-image: url({{ backgr }});background-size:cover;
  background-position:center;
  background-repeat:no-repeat;">
   <div class="row m-4 d-flex justify-content-between">
     <div class="card bg-transparent borderless">
        <div class="card-body m-2">
          <div class="d-flex justify-content-center">
          <h1 class="text-white"><i class="bi bi-journals text-warning"></i> {{ class_d.name }} </h1>
          </div>
          <h6 class="text-white"><i class="bi bi-calendar-range text-warning"></i> Semestre: {{ class_d.period }}&emsp;<i class="bi bi-calendar-event text-warning"></i> Desde: {{ class_d.date_posted.strftime('%d/%m/%Y') }}</h6>
        </div> 
     </div>
   </div>
</div>
{% endblock header %}
{% block content %}
<h3><i class="bi bi-book"></i> Mis Evaluaciones ({{ evals | length }})</h3>
      <div class="mb-2"><p class="h5"><i class="bi bi-funnel"></i> Filtros: 
      <button id="boton" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="{% for eval in evals %}multiCollapseExample{{ loop.index0 }}{% endfor %}" onclick="displayPhrase()">Activas</button>
      </div>
    <div class="row">
      {% for eval in evals %}
      <div id="{% if is_expired[loop.index0] %}multiCollapseExample{{ loop.index0 }}{% endif %}" {% if is_expired[loop.index0] %}class="collapse show multi-collapse minin m-3"{% else %}class="minin m-3"{% endif %}>
      <div class="card bg-light mb-3" style="box-sizing: content-box; width: 100%;">
        <div class="card-header"><small>Desde: {{ eval.date_delivered.strftime('%d/%m/%Y') }}</small></div>
        <div class="card-body">
          <h4 class="card-title h5">{{ eval.name }}{% if is_expired[loop.index0] %}&nbsp<i title="Expirada" class="bi bi-calendar-x-fill text-secondary"></i>{% else %}&nbsp<i title="Activa" class="bi bi-check-circle-fill text-success"></i>{% endif %}</h4>
          <p class="card-text"><small>{{ eval.description[0:32] }} {% if eval.description | length > 32 %}...{% endif %}</small></p>
          <a href="{{ url_for('students.dashboard_eval', eval_id=eval.id) }}" class="btn {% if is_expired[loop.index0] %}btn-secondary{% else %}btn-success{% endif %}">Ver evaluación</a>
        </div>
        <div class="card-footer text-muted ">
          <small>Hasta: {{ eval.date_limit.strftime('%d/%m/%Y') }}</small>
        </div>
      </div>
    </div>
      {% endfor %}
</div>

<script type="text/javascript">
  function displayPhrase() {
    const boton = document.getElementById('boton');
    if (boton.textContent === 'Activas') {
      boton.textContent = 'Todas';
    } else {
      boton.textContent = 'Activas';
    }
  }
  </script>
{% endblock content %}

{% block desc %}
<div class="col-md-4">
  <div class="article-title">
    <h5><i class="bi bi-info-circle"></i> Descripción:</h5>
  </div>
  <div class="content-section">
    {{ class_d.description }}
  </div>
  <div class="article-title">
    <h5><i class="bi bi-mortarboard"></i> Profesor:</h5>
  </div>
  <div class="content-section">
    <h6><i class="bi bi-person"></i> {{ prof.name }} {{ prof.lastname }}</h6>
    <h6><i class="bi bi-envelope"></i> {{ prof.email }}</h6>
  </div>
</div>
{% endblock desc %}