{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3"><i class="bi bi-journals"></i> Mis Clases ({{ posts | length }})</h1>
    <div class="mb-3"><p class="h5"><i class="bi bi-funnel"></i> Filtros: 
      <button id="boton" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="{% for class in posts %}multiCollapseExample{{ loop.index0 }}{% endfor %}" onclick="displayPhrase()">Activas</button>
      </div>
    <div class="row">
      {% for class in posts %}
      <div id="{% if not class[0].active %}multiCollapseExample{{ loop.index0 }}{% endif %}" {% if not class[0].active %}class="collapse show multi-collapse m-3"{% else %}class="minin m-3"{% endif %}>
      <div class="card bg-light mb-3" style="box-sizing: content-box; width: 100%;">
        <div class="card-header"><small>{{ class[0].period }} semestre</small></div>
        <div class="card-body">
          <h4 class="card-title h5">{{ class[0].name }} {% if not class[0].active %}<i title="Clase cerrada" class="bi bi-lock-fill text-danger"></i>{% else %}<i title="Clase activa" class="bi bi-patch-check-fill text-success"></i>{% endif %}</h4>
          <p class="card-text"><small>{{ class[0].description[0:32] }} {% if class[0].description | length > 32 %}...{% endif %}</small></p>
          <a href="{{ url_for('students.dashboard_class', class_id=class[0].id) }}" class="btn {% if not class[0].active %}btn-secondary{% else %}btn-success{% endif %}">Ver clase</a>
        </div>
        <div class="card-footer text-muted ">
          <small><i style="text-align: left;">Prof. {{ class[1].name }} {{ class[1].lastname }} ({{ class[0].date_posted.strftime('%Y-%m-%d') }})</i></small>
        </div>
      </div>
    </div>
      {% endfor %}
</div>
  <script type="text/javascript">
  function displayPhrase() {
    const boton = document.getElementById('boton');
    if (boton.textContent === 'Activas') {
      boton.textContent = 'Todas';
    } else {
      boton.textContent = 'Activas';
    }
  }
  </script>
{% endblock content %}
